.main-header-container {
  width: 100%;
}

.main-header {
  width: 100%;

  &-title, &-subtitle {
    font-family: "JetBrainsMono", sans-serif;
    color: #ffffff;
  }
}


/* Phone */
@media only screen and (max-width: 600px) {
  .main-header {
    min-height: 43vh;
    padding-bottom: 30px;
    &-title {
      font-size: 32px;
    }
    &-subtitle {
      padding-top: 20px;
      font-size: 16px;
    }
    &-container {
      padding: 0 45px;
      background: linear-gradient(180deg, rgba(137,126,181,1) 65.65%, rgba(246,247,247,1) 65.65%);
    }
  }
  .main-header-profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  .main-header-top-section {
    padding-top: 35px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .main-header {
    padding-bottom: 30px;
    &-container {
      padding: 0 45px;
      background: linear-gradient(180deg, rgba(137,126,181,1) 62.6%, rgba(246,247,247,1) 62.6%);
    }
    &-title {
      font-size: 50px;
    }
    &-subtitle {
      padding-top: 25px;
      font-size: 20px;
    }
  }
  .main-header-profile-icon {
    width: 105px;
    height: 105px;
    border-radius: 40px;
  }
  .main-header-top-section {
    padding-top: 35px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
}
