.create-question {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;

  &__container {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #8b80b6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
    background-color: #8b80b6;

    &:active {
      background-color: #b6abe0;
      transition: 0.4s;
    }

    &.create-question__button--focused {
      animation: 6s infinite hover-create-question-button;
    }

    @keyframes hover-create-question-button {
      0% {
        background-color: #8b80b6;
      }
      25% {
        background-color: #fff;
        color: #8b80b6;
      }
      40% {
        background-color: #8b80b6;
      }
      55% {
        background-color: #fff;
        color: #8b80b6;
      }
      100% {
        background-color: #8b80b6;
      }
    }
  }
}

/* For mobile screen */
@media screen and (max-width: 600px) {
  .create-question {
    &__container {
      width: 50px;
    }

    &__button {

    }
  }
}

/* For tablet screen */
@media screen and (min-width: 600px) {
  .create-question {
    &__container {
      width: 50px;
    }

    &__button {

    }
  }
}

/* For desktop screen */
@media screen and (min-width: 1200px) {
  .create-question {
    &__container {
      width: 50px;
    }

    &__button {

    }
  }
}

