.generator-page-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F7F7FF;

  &-item-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .generator-page-navbar {
    &-item-container {
      &__item {
        width: 50vw;
      }
    }
    &-choice-container {
      display: flex;
      width: 100vw;
      height: 4px;

      &.start {
        justify-content: start;
      }

      &.end {
        justify-content: end;
      }

      &__scroll {
        width: 50vw;
        height: 4px;
        background-color: #8b80b6;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  .generator-page-navbar {
    &-item-container {
      &__item {
        width: 30vw;
      }
    }

    &-choice-container {
      display: flex;
      width: 60vw;
      height: 4px;

      &.start {
        justify-content: start;
      }

      &.end {
        justify-content: end;
      }

      &__scroll {
        width: 30vw;
        height: 4px;
        background-color: #8b80b6;
      }
    }
  }
}
